@using CustomerSite.Server.Models
@model IEnumerable<Customer>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.DisplayName</td>
            </tr>
        }
    </tbody>
</table> 