@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/angularjs")

<div class="row">
    <div ng-app="CustomerListApp" ng-controller="CustomerListAppController" ng-init="Get()">
        <div class="col-md-4">
            <h3 id="formLabel">{{ FormMode }} Customer</h3>
            <form role="form" ng-submit="Submit()">
                <div class="form-group">
                    <label for="FirstName">First Name:</label>
                    <input type="text" class="form-control" ng-model="Form.FirstName">
                </div>
                <div class="form-group">
                    <label for="Surname">Surname:</label>
                    <input type="text" class="form-control" ng-model="Form.Surname">
                </div>
                <div class="form-group">
                    <label for="Telephone">Telephone:</label>
                    <input type="tel" class="form-control" ng-model="Form.Telephone">
                </div>
                <div class="form-group">
                    <label for="DateOfBirth">Date of Birth:</label>
                    <input type="datetime" class="form-control" ng-model="Form.DateOfBirth">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-8">
            <h3>Existing Customers</h3>
            <p>Click on a row to edit the customer data</p>
            <table>
                <tr>
                    <th>Display Name</th>
                    <th>Telephone</th>
                    <th>Date of Birth</th>
                    <th>Age</th>
                </tr>
                <tr ng-repeat="c in Customers" bgcolor="{{c.Colour}}" ng-click="SetupForEdit(c)">
                    <td>{{ c.DisplayName }}</td>
                    <td>{{ c.Telephone }}</td>
                    <td>{{ c.DateOfBirth }}</td>
                    <td>{{ c.Age }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/CustomerListApp.js")"></script>
    <script>
        Initilise("@Url.Action("Index", "Customers")");
    </script>
    <script>
        $("#form").submit(function (event) {
            // TODO Add client side validation
            var data = {
                FirstName: $('input[name=FirstName]').val(),
                Surname: $('input[name=Surname]').val(),
                Telephone: $('input[name=Telephone]').val(),
                DateOfBirth: $('input[name=DateOfBirth]').val()
            };


        });
    </script>
}

<style>
    th {
        min-width: 150px;
    } 
</style>